#gameArea{
    border: 1px solid black;
    height: 60vh;
    width: 60vw;
}
#moveArea{
    border: 1px solid black;
    height: 20vh;
    width: 60vw;
}

#moveBtn{
    text-align: center;
}

#object{
    border: 1px solid black;
    width: 10vw;
    height: 10vw;
    position: relative;
    left: 0;
    top: 0;
}
