@font-face {
    font-family: 'pixelFont';
    src: url(../../sources/font/PressStart2P-Regular.ttf);
    }

*{
    font-family: "pixelFont";
}

#bungkus{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window{
    overflow: hidden;
    box-sizing: border-box;
    height: 0;
    width: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 300ms;
    text-align: center;
}

.menuBtn{
    background-color: gainsboro;
    margin: 5px 0;
    border: none;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
    transition: 300ms;
    width: 200px;
    height: 75px;
    overflow: hidden;
}

.windowBtn{
    border: none;
    background-color: gainsboro;
    height: 7vh;
    width: 20vh;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
}

.windowContent{
    overflow: auto;
    height: 50vh;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: gainsboro;
    padding: 30px;
    margin: 30px;
}

#errorMsg{
    visibility: hidden;
}

#avatarSelection{
    height: 25vh;
}

.avatarNav{
    border: none;
    background-color: gainsboro;
}

#closeNew{
    margin-right: 10px;
}


#popupCredContent{
    margin: 30px;
}